/*My edits */

#ud-home-slogan {
	text-shadow: 2px 2px 9px white, -2px -2px 9px white;
}

.ben-img {
	margin-bottom: 10px;
}

.card.no-border {
	border: 0 none;
	padding-top: 15px;
	padding-bottom: 15px;
}

#wrapper {
	width: 100%;
	margin: 0px auto;
}

.min-text {
	font-family: "Segoe UI";
}

.bgh {
	background: url(../../headerbg.jpg);
}

.text {
	font-family: "system";
	color: black;
	font-size: 20px;
}

#ud-lists {
	background-color: #ececec;
	padding-bottom: 2em;
}

.ud-home-searchpanel input,
.ud-home-searchpanel select {
	max-width: 100%;
	width: 100%;
}

.ud-home-searchpanel button {
	height: 40px !important;
	margin-top: 1px;
}

.ud-home-searchpanel > div {
	margin-bottom: 5px;
}

#appSummary {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#ben-sub {
	font-size: 32px;
	font-weight: normal;
}

#about {
	background-color: #becfe8;
}

#ud-footer {
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #93deed;
}

#ud-footer p {
	font-size: 18px;
}

#ud-footer p a {
	color: black;
}

.backgr {
	background-image: url(../../loginbg1.jpg);
	background-repeat: repeat-x;
	width: 100%;
}

#Footer {
	color: white;
	font-size: x-small;
	text-align: center;
	padding: 5px 0px;
}

.pt-6 {
	padding-top: 5rem !important;
}

/* part1 */

.emp-profile {
	padding: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	border: 2em;
	border-radius: 1rem;
	background: #a9d5db;
}

.profile-img {
	text-align: center;
}

.profile-img img {
	width: 70%;
	height: 100%;
}

.profile-img .file {
	position: relative;
	overflow: hidden;
	margin-top: -20%;
	width: 70%;
	border: none;
	border-radius: 0;
	font-size: 15px;
	background: #212529b8;
}

.profile-img .file input {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
}

.profile-head h5 {
	color: #333;
}

.profile-head h6 {
	color: #0062cc;
}

.profile-edit-btn {
	border: none;
	border-radius: 1.5rem;
	width: 70%;
	padding: 2%;
	font-weight: 600;
	color: #6c757d;
	cursor: pointer;
}

.proile-rating {
	font-size: 12px;
	color: #818182;
	margin-top: 5%;
}

.proile-rating span {
	color: #495057;
	font-size: 15px;
	font-weight: 600;
}

.profile-head .nav-tabs {
	margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
	font-weight: 600;
	border: none;
}

.profile-head .nav-tabs .nav-link.active {
	border: none;
	border-bottom: 2px solid #0062cc;
}

.profile-work {
	padding: 14%;
	margin-top: -15%;
}

.profile-work p {
	font-size: 12px;
	color: #818182;
	font-weight: 600;
	margin-top: 10%;
}

.profile-work a {
	text-decoration: none;
	color: #495057;
	font-weight: 600;
	font-size: 14px;
}

.profile-work ul {
	list-style: none;
}

.profile-tab label {
	font-weight: 600;
}

.profile-tab p {
	font-weight: 600;
	color: #0062cc;
}

/* Nakaw */
footer {
	border-top: 1px solid #dcdcdc;
	background-color: rgba(60, 80, 100, 0.3);
}

#Footer {
	color: #fff;
	font-size: x-small;
	text-align: center;
	padding: 5px 0;
}

.field-validation-error,
.field-validation-valid {
	font-size: 0.85em;
	font-weight: 500;
	color: #c94a48;
}

.form-control-static.form-control-lg,
.form-control-static.form-control-sm,
.input-group-lg > .form-control-static.form-control,
.input-group-lg > .form-control-static.input-group-addon,
.input-group-lg > .input-group-btn > .form-control-static.btn,
.input-group-sm > .form-control-static.form-control,
.input-group-sm > .form-control-static.input-group-addon,
.input-group-sm > .input-group-btn > .form-control-static.btn {
	padding-right: 0;
	padding-left: 0;
}

.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.2rem;
}

.input-group-sm > .input-group-btn > select.btn:not([size]):not([multiple]),
.input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > select.input-group-addon:not([size]):not([multiple]),
select.form-control-sm:not([size]):not([multiple]) {
	height: 1.8125rem;
}

.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;
}

.input-group-lg > .input-group-btn > select.btn:not([size]):not([multiple]),
.input-group-lg > select.form-control:not([size]):not([multiple]),
.input-group-lg > select.input-group-addon:not([size]):not([multiple]),
select.form-control-lg:not([size]):not([multiple]) {
	height: 3.166667rem;
}

.has-success .input-group-addon {
	color: #5cb85c;
	border-color: #5cb85c;
	background-color: #eaf6ea;
}
.has-warning .input-group-addon {
	color: #f0ad4e;
	border-color: #f0ad4e;
	background-color: #fff;
}

.has-danger .input-group-addon {
	color: #d9534f;
	border-color: #d9534f;
	background-color: #fdf7f7;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.input-group-addon,
.input-group-btn {
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon {
	padding: 0.5rem 0.75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	color: #464a4c;
	text-align: center;
	background-color: #eceeef;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.2rem;
}

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;
}

.input-group-addon input[type="checkbox"],
.input-group-addon input[type="radio"] {
	margin-top: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn,
.input-group-btn:not(:first-child)
	> .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
	border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn,
.input-group-btn:not(:last-child) > .btn:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
	border-left: 0;
}

.nab {
	background: rgb(70, 74, 76);
	background: linear-gradient(
		180deg,
		rgba(70, 74, 76, 1) 0%,
		rgba(70, 74, 76, 1) 100%
	);
}

.nabi {
	background: rgb(11, 150, 219);
	background: linear-gradient(
		90deg,
		rgba(11, 150, 219, 1) 0%,
		rgba(105, 205, 255, 1) 14%,
		rgba(105, 205, 255, 1) 84%,
		rgba(11, 150, 219, 1) 100%
	);
}

.navi {
	font-family: "Century Gothic";
}

ul li a#hov {
	transition: 0.3s ease;
	font-size: 20px;
	text-decoration: none;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding: 7px 0;
	margin: 0 5px;
	font-size: 17px;
}
ul li a#hov:hover {
	padding: 4px 0;
}

.bods {
	background: rgb(186, 231, 250);
	background: linear-gradient(
		180deg,
		rgba(186, 231, 250, 1) 0%,
		rgba(246, 246, 246, 1) 15%,
		rgba(242, 244, 245, 1) 85%,
		rgba(186, 231, 250, 1) 100%
	);
	background-repeat: no-repeat;
}

.fant {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bolder;
}

.dashbods {
	background: rgb(51, 168, 217);
	background: linear-gradient(
		180deg,
		rgba(51, 168, 217, 1) 0%,
		rgba(246, 246, 246, 1) 7%,
		rgba(237, 242, 244, 1) 94%,
		rgba(51, 168, 217, 1) 100%
	);
}

#dashboard-body {
	background-color: rgb(240, 240, 240);
}

.sidebar-bg {
	background-color: rgb(117, 164, 235);
}

.icon-color-white {
	color: white;
}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

#eye,
#eye:hover {
	color: #333;
	text-decoration: none;
}

/* class for body*/
.bg-design {
	background-color: rgba(102, 112, 115, 0.1);
}

.bg-white {
	background-color: white;
}

.nav-for-guest {
	background: rgb(15, 173, 252);
	background: linear-gradient(
		90deg,
		rgba(15, 173, 252, 1) 0%,
		rgba(149, 220, 255, 1) 16%,
		rgba(105, 205, 255, 1) 82%,
		rgba(15, 173, 252, 1) 100%
	);
}

.nav-brand-font {
	font-family: "Rubik", sans-serif;
	color: white;
}
